* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Segoe UI", Roboto, Helvetica, Arial, sans-serif;
}

header {
    height: 230px;
    background: url("../img/background.jpg") no-repeat;
    background-size: cover;
    margin-bottom: 10px;
}

.header-container {
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: space-around;
}

header .logo {
    padding: 28px 0;
    width: 180px;
}

header .logo img {
    max-width: 70px;
    border-radius: 50%;
    margin-left: 20%;
}

header .logo p {
    color: #ffc10e;
    font-size: 22px;
    margin-top: 10px;
    margin-left: 30px;
    font-weight: bold;
}

header .sub-search {
    position: relative;
    top: 54%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #ffffff00;
}

header .content-right {
    display: flex;
    justify-content: space-between;
}


header p {
    margin-top: 10px;
    font-size: 15px;
    font-weight: 600;
    cursor: pointer;
}

header .icon-account {
    text-align: center;
    padding: 45px 0;
}

header .icon-account a {
    text-decoration: none;
    font-weight: 500;
    color: white;
}

header .icon-account img {
    max-width: 25px;
}

nav {
    height: 80px;
    margin-top: 15px;
}

nav .menu {
    width: 800px;
    list-style: none;
    display: flex;
    justify-content: space-evenly;
    position: relative;
    left: 50%;
    transform: translate(-50%, 0);
    margin: 0;
    padding: 0;
}

nav .menu li {
    text-align: center;
    margin: 0 5px;
}

nav .menu a {
    color: white;
    font-weight: 600;
    text-decoration: none;
    padding: 1px 10px 3px 10px;
    border-radius: 15px;
    font-size: 20px;
}

footer {
    margin-top: 30px;
    height: 255px;
    background-color: #eeeded;
    display: grid;
    grid-template-columns: repeat(3, auto);
    padding-top: 25px;
    justify-content: space-evenly;
    gap: 160px;
}

footer .infor {
    width: 300px;
}

footer h4 {
    font-size: 17px;
    display: block;
    margin-bottom: 15px;
}

footer p {
    font-size: 15px;
}

footer .infor span {
    float: left;
    padding-right: 10px;
    width: 25px;
}

footer .infor p {
    display: block;
    padding-bottom: 10px;
}

footer .policy {
    width: 325px;
    justify-content: center;
    margin-top: -10px;
}

footer .policy img {
    max-width: 40px;
    border-radius: 50%;
}

footer .policy span {
    font-weight: bold;
    position: relative;
    top: -12px;
    right: -5px;
    color: #ffc10e;
}

footer .policy p {
    margin-top: 5px;
}

footer .policy a {
    text-decoration: none;
    color: #34b7c6;
}

footer .contact p {
    padding-bottom: 15px;
}

footer .contact a {
    text-decoration: none;
    color: black;
    font-weight: 600;
    font-size: 14px;
}

footer .contact img {
    max-width: 18px;
    margin-right: 10px;
}

footer .end {
    margin-top: 200px;
    position: absolute;
    height: 10px;
    padding-left: 100px;
}

footer .end hr {
    width: 1480px;
}

footer .end span {
    font-size: 11px;
}

.active {
    background-color: #45C3D2;
    border-radius: 20px;
    padding: 2px 5px 5px 5px;
}

#title {
    text-align: center;
}

.main table {
    text-align: center;
}

.main table th, td {
    padding: 10px 15px;
}

.main table img {
    max-width: 100px;
}

.main table td {
    border-bottom: 1px solid black;
}

.main table th {
    border-bottom: 2px solid #ffc10e;
}

.main {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.control {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}